Health
{
	position: absolute;
	background-color: rgba( black, 0.5 );
	left: 100px;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	width: 80px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 10px;
	
	.team-name
	{
		padding: 5px;
		color: white;
		height: 80px;
		width: 210px;
		left: 90px;
		background-color: rgba( black, 0.5 );
		font-size: 40px;
		padding: 0 5px;
		align-items: center;
		position: absolute;
	}
		
	.team-change-hint
	{
		padding: 5px;
		color: rgba( #CCC, 1 );
		height: 60px;
		width: 80px;
		left: 310px;
		background-color: rgba( black, 0.5 );
		font-size: 20px;
		padding: 0 5px;
		align-items: center;
		text-align: center;
		position: absolute;
	}
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	pointer-events: none;
}


InventoryBar
{
	position: absolute;
	height: 100%;
	right: 48px;
	justify-content: center;
	flex-direction: column;
	align-items: flex-end;
}

InventoryIcon
{
	width: 120px;
	height: 80px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 2px;
	position: relative;
	margin-top: 10px;
	transition: all 0.1s ease-in-out;
	font-family: poppins;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 18px;
		position: absolute;
		bottom: 0;
		opacity: 0.6;
		text-shadow: 0px 1px 2px black;
	}

	.slot-number
	{
		font-size: 25px;
		color: #000;
		font-weight: 900;
		position: absolute;
		opacity: 0.5;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #ff9400, 0.5 );
		transition: all 0s ease-out;
		width: 140px;

		.slot-number
		{
			color: #765527;
		}

		.item-name
		{
			opacity: 1;
			font-size: 19px;
		}
	}
}
